.project-section{
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 100px !important;
  background-image: var(--section-background-color) !important;
  color: black !important;
  border: 1px solid black;
  text-align: center;
  }
