.project-section{
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 100px !important;
  background-image: var(--section-background-color) !important;
  color: black !important;
  border: 1px solid black;
  text-align: center;
  padding-left: 0;
  padding-right:0;
  ul{
    // display: grid;
    // justify-items: center;
    padding-left: 2.0vw;
    padding-right: 2.0vw;
  }
  }
