section {
  // Following centers project cards on the page. Don't remove.
  display: grid;
  justify-items: center;
  margin:0;
  padding: 0;

  .home-section {
    position: relative !important;
    padding-top: 100px !important;
    padding-bottom: 30px !important;
    margin: 0 5.0rem;

    #tsparticles {
      position: fixed !important;
       background-repeat: no-repeat !important;
       background-size: cover !important;
       width: 100%;
       height: 100%;
       z-index: -1;
     }
     .home-header {
        padding-top: 50px !important;
        .heading-name {
          font-size: calc(1rem + 6 * ((100vw - 320px) / 680));
        }
        .img-fluid{
          border-radius: 50%;
          width: 100px;
          height: 100px;
        }
      }
      .home-detail {
        display: grid;
        justify-items: center;
      .img-fluid {
        width: 150px;
        height: 150px;
      }
    }
  }
}
